body {
    background-color: #FFEEDF;
    
}

.button {
    background-color: #1c5a4e;
    font-size: 200px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    color: #FFEEDF;
    border: none;
    font-weight: lighter;
    
    display: flex;
    justify-content: center;
    align-content: center;
   
}
